{
  "trailingComma": "none",
  "arrowParens": "avoid",
  "tabWidth": 4,
  "useTabs": true,
  "semi": false,
  "singleQuote":true,
  "jsxSingleQuote": true,
  "importOrderSeparators": true,
  "importOrderSoftSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy",
    "classProperties"
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^../(.*)", "^./(./)"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
  
}