services:
  db:
    container_name: nest_postgres
    image: postgres:17
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports: 
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend_network

  redis:
      container_name: nest_redis
      image: redis:5
      restart: always
      command: redis-server --requirepass ${REDIS_PASSWORD}
      ports:
        - "6379:6379"
      volumes:
          - redis_data:/data
      networks:
        - backend_network

volumes:
  postgres_data:
  redis_data:

networks:
  backend_network:
 